/* line 4, app/assets/stylesheets/root.scss */
.callout-title {
  font-size: 1.5em;
}

/* line 8, app/assets/stylesheets/root.scss */
.mg-r-10 {
  margin-right: 10px;
}

/* line 12, app/assets/stylesheets/root.scss */
.bottom {
  vertical-align: bottom;
}
