/* line 6, app/assets/stylesheets/root.scss */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, Roboto, "Helvetica Neue", sans-serif;
}

/* line 15, app/assets/stylesheets/root.scss */
.callout-title {
  font-size: 1.5em;
}

/* line 19, app/assets/stylesheets/root.scss */
.mg-r-10 {
  margin-right: 10px;
}

/* line 23, app/assets/stylesheets/root.scss */
.bottom {
  vertical-align: bottom;
}

/* line 27, app/assets/stylesheets/root.scss */
#main {
  height: 100%;
  overflow-y: hidden;
}

/* line 32, app/assets/stylesheets/root.scss */
.full-height {
  height: 100%;
}

/* line 36, app/assets/stylesheets/root.scss */
#map {
  height: 100%;
  width: 100%;
}

/* line 41, app/assets/stylesheets/root.scss */
#search-gutter {
  overflow-y: auto;
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 2%;
  left: 1%;
  max-height: 96%;
}

@media (max-width: 768px) {
  /* line 41, app/assets/stylesheets/root.scss */
  #search-gutter {
    width: 98%;
  }
}

/* line 54, app/assets/stylesheets/root.scss */
#trips-gutter {
  position: absolute;
  z-index: 1;
  background-color: white;
}

@media (min-width: 768px) {
  /* line 54, app/assets/stylesheets/root.scss */
  #trips-gutter {
    top: 2%;
    right: 1%;
  }
}

@media (max-width: 768px) {
  /* line 54, app/assets/stylesheets/root.scss */
  #trips-gutter {
    bottom: 0;
    max-height: 30%;
    overflow-y: auto;
  }
}

/* line 71, app/assets/stylesheets/root.scss */
.small-font {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  /* line 76, app/assets/stylesheets/root.scss */
  #stops {
    display: flex;
    flex-direction: column-reverse;
  }
}
