// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap-sprockets";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, Roboto, "Helvetica Neue", sans-serif;
}

.callout-title {
  font-size: 1.5em;
}

.mg-r-10 {
  margin-right: 10px;
}

.bottom {
  vertical-align: bottom;
}

#main { 
  height: 100%;
  overflow-y: hidden;
}

.full-height {
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

#search-gutter {
  overflow-y: auto;
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 2%;
  left: 1%;
  max-height: 96%;
  @media (max-width: 768px) {
    width: 98%;
  }
}

#trips-gutter {
  position: absolute;
  z-index: 1;
  background-color: white;
  
  @media (min-width: 768px) {
    top: 2%;
    right: 1%;
  }
  
  @media (max-width: 768px) {
    bottom: 0;
    max-height: 30%;
    overflow-y: auto;
  }
}

.small-font {
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  #stops {
    display: flex;
    flex-direction: column-reverse;
  }
}